---
import { getCollection } from "astro:content";
import Card from "../../components/BlogCard.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const blog = await getCollection("blog");
type Project = (typeof blog)[number];
---

<BaseLayout>
    <section class="max-w-4xl mx-auto py-10 px-4">
        <h1 class="text-3xl font-bold text-center mb-6">My Blog</h1>
        <div class="flex flex-col gap-6 items-center">
            {
                blog.map((project: Project) => (
                    <Card
                        key={project.id}
                        title={project.data.title}
                        description={project.data.description}
                        link={`/blog/${project.id}/`}
                    />
                ))
            }
        </div>
    </section>
</BaseLayout>
