---

---

<footer class="w-full bg-black text-white py-8 text-center text-base">
    <p class="text-lg">
        &copy; {new Date().getFullYear()} Elvis Durón. All rights reserved.
    </p>
    <nav
        class="mt-4 flex flex-col sm:flex-row justify-center items-center gap-4"
    >
        <a href="/about" class="text-gray-400 hover:text-white">Acerca</a>
        <a href="/contact" class="text-gray-400 hover:text-white">Contacto</a>
    </nav>
    <div class="mt-4 flex justify-center gap-4">
        <a
            href="https://twitter.com/saikofisu"
            target="_blank"
            class="text-gray-400 hover:text-white"
        >
            Twitter
        </a>
        <a
            href="https://github.com/psychofizz"
            target="_blank"
            class="text-gray-400 hover:text-white"
        >
            GitHub
        </a>
        <a
            href="https://instagram.com/psychofizz_"
            target="_blank"
            class="text-gray-400 hover:text-white"
        >
            Instagram
        </a>
    </div>
</footer>
