---
import type { Link } from "../interfaces/interface";

const links: Link[] = [
    { href: "/", label: "Home" },
    { href: "/about", label: "Acerca de mí" },
    { href: "/blog", label: "Mi Blog" },
];
---

<nav
    class="w-full bg-[#DDEEFF] dark:bg-slate-700 text-[#002244] dark:text-[#DDEEFF] font-mono border-b-4 border-[#002244] dark:border-[#DDEEFF] shadow-lg"
>
    <div class="flex items-center justify-between p-4">
        <button
            id="menu-toggle"
            class="lg:hidden p-3 text-2xl border-2 border-[#002244] bg-[#002244] text-white rounded-md"
        >
            ☰
        </button>

        <div class="hidden lg:flex items-center space-x-6">
            {
                links.map(({ href, label }) => (
                    <a
                        href={href}
                        class="p-3 text-xl font-semibold font-mono relative transition-all duration-300  rounded-md hover:bg-[#002244] hover:text-white"
                    >
                        [{label}]
                    </a>
                ))
            }
        </div>

        <button
            id="dark-mode-toggle"
            class="p-3 text-2xl border-2 border-[#002244] bg-[#002244] text-white rounded-md transition-all duration-300"
        >
            🌙
        </button>
    </div>

    <div
        id="mobile-menu"
        class="hidden flex flex-col bg-[#DDEEFF] w-full absolute top-16 left-0 p-6 space-y-4 lg:hidden text-xl border-t-4 border-[#002244]"
    >
        {
            links.map(({ href, label }) => (
                <a
                    href={href}
                    class="p-3 text-lg font-semibold block border-b-2 border-[#002244] text-center hover:bg-[#002244] hover:text-white transition-all"
                >
                    {label}
                </a>
            ))
        }
    </div>
</nav>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const menuToggle = document.getElementById("menu-toggle");
        const mobileMenu = document.getElementById("mobile-menu");
        const darkModeToggle = document.getElementById("dark-mode-toggle");

        if (menuToggle && mobileMenu) {
            menuToggle.addEventListener("click", () => {
                mobileMenu.classList.toggle("hidden");
            });
        }

        if (darkModeToggle) {
            darkModeToggle.addEventListener("click", () => {
                document.documentElement.classList.toggle("dark");
            });
        }
    });
</script>
